.about-text h1{
	font-family: 'Cinzel', serif;
	text-align: center;
                     text-transform: uppercase;
                   color:#333;
}
.about-text .border{
	width:180px;
        height:   4px;
                   background: #333;
                     margin: 60px auto;

}

#iconqumy1{
	pointer-events:none;
	border: none;
}

/*.jumbotron .card-up{
	background-color: red;
}
.jumbotron .card{
	background-color: white;
}
.card-up{
	background-color: red!important;
}*/
.card{
	background-color: white!important
}
.fotocardmy1{
	height: auto!important;
	width: 150px!important;
	margin-top: 30px;
	 margin-bottom: 30px;

}

.contacttext{
	/*font-family: 'Libre Caslon Text', serif;*/
	color: #333;
  line-height: 100%;

  letter-spacing: 2px;
  text-align: center;
  font-size: 20px;
  /*margin: auto 0;*/
}

.carousel-caption h3{
	font-family: 'Cinzel', serif;text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.carousel-caption p{
	font-family: 'Cinzel', serif;
	text-align: center;
	letter-spacing: 1.2px
}
