@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Princess+Sofia&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&family=Cinzel+Decorative&family=Give+You+Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --gugi: "Gugi", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Livvic', sans-serif;
    font-size: 1.6rem !important;
    font-weight: 500 !important;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav li {
    margin: 0 .5rem 0 .5rem;
}

.nav-link {
    font-family: 'Livvic', sans-serif;
    font-weight: 500;
}

.navbar-nav {
    width: 80%;
    display: flex;
    justify-content: center;
}

#social-media {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.fa {
    border: 1px solid grey;
    padding: .3rem .5rem;
    border-radius: 50%;
    margin: 0 .2rem;
}

.fa:hover {
    cursor: pointer;
    color: black;
    box-shadow: .1rem .2rem .2rem #A4A4A4;
}

main .site-title {
    background: url('../images/restaurant.jpg');
    clip-path: circle(95% at 74% 2%);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;


}

/* @keyframes mymove {
    from {clip-path:  circle(100% at 70% 0%);}
    to {clip-path: circle(95% at 74% 2%);}
  } */
main .site-title::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

.site-background {
    text-align: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 99;
}

.site-background h1, h3 {
    font-family: 'Livvic', sans-serif;
    font-size: 2.5rem;
}

.site-background h1 {
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
}

.site-background button {
    border-radius: 10rem;
    border: 1px solid white;
    padding: .7rem 2.5rem;
    font-family: 'Livvic', sans-serif;
    outline: none !important;

}

.site-background button:active {
    transform: scale(.8);
    transition: .1s ease-out;

}

.site-background button:hover {
    background: transparent;
    color: white;
    transition: .8s ease !important;
}

.blog {
    background: url('../images/Abract01.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    margin-top: 5%;
}

.controls-top {
    display: flex;
    justify-content: center;
    margin: 2rem;

}

.controls-top .btn-floating i {
    padding: .7rem 1rem;
    border: none;
    background-color: rgb(66, 133, 244);
    color: #fff;
}

.controls-top .btn-floating {

    padding: .5rem 0;
}

.carousel-indicators {
    bottom: -4rem !important;
}

.carousel-indicators li {
    border: 1px solid rgb(66, 133, 244);
    width: 1.3rem !important;
    background: rgb(66, 133, 244) !important;
}

.carousel-indicators li.active {
    background: rgb(66, 133, 244) !important;
    transform: scale(1.3);
    transition: .1s ease;
}

.card {
    border: 1px solid #e8e8e9 !important;
    background: transparent !important;
    height: 33rem;
}

.posts {
    margin-top: 6rem;
    position: relative;

}

.post {
    position: relative;
    padding: auto;
    margin: auto;
    overflow: hidden;
}

.post img:hover {
    transform: scale(1.05);

}

.postImg {
    clip-path: circle(43% at 50% 50%);
    height: 28rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden !important;
    transition: .7s ease-in-out;
}

.list-item {
    padding: .5rem 1.4rem;
    border: 1px solid rgb(66, 133, 244);
    background: white;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: .1rem .5rem .8rem grey;
    list-style: none;
}

.category h2 {
    margin-left: -7rem;
    font-family: 'Gugi', 'cursive', sans-serif;
    color: grey;
}

.list-item a {
    color: rgb(66, 133, 244);
    font-family: 'Lucida Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none !important;
}

.list-item:hover {
    box-shadow: .1rem .5rem .8rem rgba(0, 0, 0, 0.5);
    background: white;
    transition: .6s ease-in-out;
}

.list-item:hover a {
    color: rgb(66, 133, 244);
    font-weight: bold;
}

.list-item a:hover .list-item {
    border: 1px solid red !important;
}

.list-item:nth-child(1) {
    margin-left: -5rem;
}

.list-item:nth-child(2) {
    margin-left: -3rem;
}

.list-item:nth-child(3) {
    margin-left: -1rem;
}

.list-item:nth-child(4) {
    margin-left: 1rem;
}

.list-item:nth-child(5) {
    margin-left: 0rem;
}

.list-item:nth-child(6) {
    margin-left: -2rem;
}

.list-item:nth-child(7) {
    margin-left: -4rem;
}

.list-item span {
    display: none;
}

html, body {
    margin: 0 !important;
    padding: 0;
    position: relative;
}

.moveUp {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5%;
    margin-right: 5%;
}

.moveUp i {
    background: rgb(66, 133, 244);
    color: white;
    padding: .5rem .7rem;
}

.moveUp i:hover {
    background: white;
    color: rgb(66, 133, 244);
    transition: .7s ease;
}

footer {
    background: grey;
}

.conclusion {
    height: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.conclusion > div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}


@media only screen and (max-width: 600px) {
    .category h2 {
        margin: 0 !important;
    }

    .list-item {
        margin: 1rem 0 !important;
    }

    .form1 {
        width: 100%;
    }
}

/*jamshid book form style*/
.form1 {
    border: 1px solid rgb(216, 216, 216);
    width: 70%;
    margin: auto;
    padding: 2rem 5rem;
    box-shadow: .1rem .5rem .8rem black;
    border: 1px solid black;
    margin-top: 8%;
    background: rgba(0, 0, 0, .7);
    font-family: 'Montserrat', sans-serif;
}

.container_select {
    display: flex;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

.container_select div:nth-child(1) {
    margin-right: 2rem;
    border: 1px solid white;
    padding: .5rem .5rem;
    border-radius: .3rem;
}

.container_select div:nth-child(2) {
    border: 1px solid white;
    padding: .5rem .5rem;
    border-radius: .3rem;
}

.book_submit {
    border-radius: .3rem;
}

.bg-image {
    height: 100vh;
    background: url('../images/book.jpg');
    filter: blur(.5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: relative;
}

.bg-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
}

#body {
    background-color: black;
}

.form_space {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    color: #ffff;
}

/*Jamshid homepage*/
.card img {
    height: 20rem;
    /* border: 1px solid #E8E8E8; */
    border-radius: 1rem;
    padding: .5rem .5rem;
}

.dropdown-content {
    position: absolute;
    z-index: 999;
    background-color: #f8f9fA;
    display: none;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.services:hover .dropdown-content {
    display: block;
    animation-fill-mode: initial;
    animation: moveUp .5s ease-in-out;
}

@keyframes moveUp {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.card-body .btn {
    margin-left: -2px;
}

footer {
    background: #F8F9fA;
    margin-top: 5%;
    border-top: 1px solid #e8e8e9;
    padding-top: 3rem;
}

.fa-phone {
    color: green;
    border: 1px solid green;
}

.fa-telegram {
    color: rgb(112, 156, 244);
    border-color: rgb(112, 156, 244);
}

footer iframe {
    border: 1px solid grey !important;
    margin: 0 0 5% 0;
    box-shadow: .1rem .5rem .8rem grey;
    border-radius: 1rem !important;
}

.context-footer iframe {
    box-shadow: .1rem .5rem .8rem grey;
    border: 1px solid grey !important;
    border-radius: 1rem;
    padding: .5rem .5rem;
}

/*menu page*/
#menu_content {
    border: 1px solid red;
    text-align: center !important;
    justify-items: center;
}

#menu-body {
    background: url('../images/background_image.jpg');
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.menu-item {
    align-items: center;
    text-align: center;
    margin: .3rem 0 .3rem 0;
    border: 1px solid #e8e8e9;
    border-radius: .5rem;
}

.section-menu {
    box-shadow: .1rem .5rem .8rem #35424a;
    margin-top: 2% !important;
    border-radius: .5rem;
    width: 70%;
    background-color: white;
    margin: auto;
    padding: 2rem 2rem;
}

.section_name {
    font-family: 'Gloria Hallelujah', cursive;
    margin-bottom: 2rem !important;
}

.menu-item .content {
    display: flex;
    justify-content: space-between;
    font-family: 'Gloria Hallelujah', cursive;
}

.menu-item .price {
    margin: auto auto;
}

.menu-list li {
    margin: auto auto;
    font-family: 'Amita', cursive;
    font-size: 2rem;
    font-weight: 500;
}

.menu-list {
    width: 30%;
    margin: 1% auto;
    display: flex;
    color: #fff;
    text-align: center;
}

#content_header {
    text-align: center;
    color: #fff;
    font-family: 'Amita', cursive;
}

.img {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.img img {
    width: 100%;
    height: 10rem;
    margin: auto;
    border-radius: .5rem;
}














